{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Todo list website{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/all.css')}}">




{% endblock %}

{% block content %}



<div class="test">
    <div class="todolist-global">
        <h1>My todo list</h1>
        <ul class="todolist">

            {% if not todos  %}
            <p>Your todo list is empty.</p>
            {% endif %}


            {% for todo in todos%}

            {% if not todo.date_completed  %}

            <li class="todo-task">

                <div>
                    <div class="check-task">
                        <a class="fas fa-square" href="{{ url_for('complete', task_id=todo.id)}}"></a>
                    </div>

                    {{ todo.task }}
                </div>
                <div >
                    <a class="fas fa-edit task-icon" href="{{ url_for('edit', task_id=todo.id)}}"></a>
                    <a class="fas fa-trash task-icon" href="{{ url_for('delete', task_id=todo.id)}}"></a>
                </div>
            </li>

            {% endif %}

            {% endfor %}

        </ul>
    </div>



    <div class="form">
        <form class="form form-horizontal custom-form" method="post" role="form">


            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                <p class="flash-message">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            {{ wtf.form_field(form.task, class="form-style-"+form.task.name, placeholder="Task") }}

            <button type="submit" class="btn btn-primary">Add task<i class="fas fa-check submit-icom"></i></button>



        </form>
    </div>

    {% if completed %}
    <a href="{{ url_for('get_completed_tasks')}}">See completed tasks</a>
    {% endif %}

</div>

{% endblock %}