{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Todo list website{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/all.css')}}">


{% endblock %}

{% block content %}


<h1>My todo list</h1>
<div class="todolist">
    <ul>
        {% for todo in todos%}
        <li class="todo-task">{{ todo.task }} <a class="fas fa-trash" href="{{ url_for('delete', task_id=todo.id)}}"></a></li>
        {%- endfor %}

    </ul>
</div>



<div class="form">
    <form class="form form-horizontal custom-form" method="post" role="form">


        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {{ wtf.form_field(form.task, class="form-style-"+form.task.name, placeholder="Task") }}



        {{ wtf.form_field(form.submit, class="form-style-"+form.submit.name+" btn btn-primary") }}



    </form>
</div>
{% endblock %}